@charset "UTF-8";
/* CSS Document */

body {
	background-color: #fffaee;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color: #704d29;
	background-image: url(images/flag-logo4.gif);
	background-repeat: no-repeat;
	background-position: center 20px;
}
#news_wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#musashinologo {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}
#logo {
	margin-right: auto;
	margin-left: auto;
	width: 318px;
}
#header {
	margin-bottom: 20px;
	padding-top: 120px;
}
#gnavi {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	height: 49px;
}
#gnavi li {
	float: left;
	list-style-type: none;
}
#news_mainphoto {
	height: 400px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
#news_titile {
	width: 670px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	height: 209px;
}
#news_title h2{
	font-size:28px;
}
.musashinokun {
	float: left;
}
#news_titile h2 {
	padding-left: 130px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}
#left_news_contents dl dd {
	font-size: 16px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #704d29;
	margin-bottom: 1em;
	width: 190px;
}
#left_news_contents dl dt {
	font-size: 12px;
}
.musahino_hoiku {
	width: 570px;
	padding-left: 130px;
	font-size: 19px;
	line-height: 30px;
}
#news_mainphoto img {
	position: absolute;
	left: 0;
    top: 30px;
}
#footer {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	margin-top: 30px;

}
#line {
	width:960px;
}
#logo_wrapper {
	width: 650px;
	padding-left: 50px;
	float: left;
}
#footer_logo {
	width: 360px;
	float: left;
}
#footer_address {
	line-height: 28px;
	font-size: 20px;
	float: right;
}
ul {
	margin: 0 0 0 1em;
	padding: 0;
}
.page_top {
	height: 140px;
	width: 140px;
	float: right;
	margin-right: 60px;
	margin-top: 10px;
}
#news_contentswrapper {
	margin-top: 30px;
	width: 960px;
}
a:hover {
    opacity:0.6;
    -moz-opacity:0.6;
    filter:alpha(opacity = 50);
}
.img-block {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
#left_news_contents {
	float: left;
	width: 200px;
	clear: both;
}
#rirght_news_contents {
	width: 700px;
	float: right;
	background-color: #FFF;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 60px;
	margin-bottom: 50px;
}
#contents1 h2 {
	margin-top: -30px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #704d29;
}
#parking {
	margin-top: 60px;
}
#margin {
	margin-bottom: 0px;
}
.gansyo{
	border:dotted 1px #714D26;
	width: 365px;
	padding: 5px;
	text-align: center;
}
